<nav class="sidebar sidebar-offcanvas" id="sidebar">

    <img src="/admin_public/assets/images/logo.jpg" class="mx-2 my-4" style="width:176px;">
                 
 
   
    <ul class="nav">
       
        
        <li class="nav-item menu-items">
            <a class="nav-link" href="/adminDashBoard">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/userViewList">
                <span class="menu-icon">
                    <i class="mdi mdi-contacts"></i>
                </span>
                <span class="menu-title">User Management</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/productsList">
                <span class="menu-icon">
                    <i class="mdi mdi-dropbox"></i>
                </span>
                <span class="menu-title">product Management</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/getCategoryList">
                <span class="menu-icon">
                    <i class="mdi mdi-cart-plus"></i>
                </span>
                <span class="menu-title">Category Management</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/orderManagement">
                <span class="menu-icon">
                    <i class="mdi mdi-human-greeting"></i>
                </span>
                <span class="menu-title">Order Management</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/couponManagement">
                <span class="menu-icon">
                    <i class="mdi mdi-percent"></i>
                </span>
                <span class="menu-title">Coupon Management</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/adminBannerAddForm">
                <span class="menu-icon">
                    <i class="mdi mdi-human-greeting"></i>
                </span>
                <span class="menu-title">Banner</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="/salesReport">
                <span class="menu-icon">
                    <i class="mdi mdi-human-greeting"></i>
                </span>
                <span class="menu-title">SalesReport</span>
            </a>
        </li>
      
            
            <li class="nav-item menu-items my-4">
                <a href="/adminLogout" class="btn btn-outline-danger" style="width:100%;">LogOut</a>

            </li>


      
     
       
       

    </ul>
</nav>