<%- include("partials/header") %>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <%- include("partials/sidebar") %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                <%- include("partials/navbar") %>
                    <div class="container-fluid page-body-wrapper-lg">
                        <!-- partial -->
                        <div class="main-panel">

                            <div class="main-panel">
                                <div class="content-wrapper">
                                    <div class="page-header">
                                        <!-- <h3 class="page-title"> Form elements </h3> -->

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 grid-margin stretch-card justify-content-center ">
                                            <div class="card ">
                                                <div class="card-body ">
                                                    <h4 class="card-title">Add category Here</h4>

                                                    <form class="forms-sample" action="/addCategory" method="POST">
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername1">Category Name</label>

                                                            <input type="text" class="form-control" name="category"
                                                                id="exampleInputUsername1" placeholder="Category">

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername1">Discription</label>

                                                            <input type="text" class="form-control" name="description"
                                                                id="exampleInputUsername1"
                                                                placeholder="Type Discription Here">

                                                        </div>








                                                        <button type="submit" class="btn btn-dark">Add Category</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%- include("partials/footer") %>