<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- ** Basic Page Needs ** -->
  <meta charset="utf-8">
  <title>WatchWay</title>

  <!-- ** Mobile Specific Metas ** -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Agency HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Classified Marketplace Template v1.0">
  
  <!-- theme meta -->
  <meta name="theme-name" content="WATCHWAY" />

  <!-- favicon -->
  <link href="/user_public/images/favicon.png" rel="shortcut icon">

  <!-- 
  Essential stylesheets
  =====================================-->
  <link href="/user_public/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/user_public/plugins/bootstrap/bootstrap-slider.css" rel="stylesheet">
  <link href="/user_public/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/user_public/plugins/slick/slick.css" rel="stylesheet">
  <link href="/user_public/plugins/slick/slick-theme.css" rel="stylesheet">
  <link href="/user_public/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  
  
  <link href="/user_public/css/style.css" rel="stylesheet">
  <!-- Add this line to include the Toastr CSS file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" />
  
  <!-- Include Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.css">
  


 
 
</head>  

<body class="body-wrapper">